{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}


<h1 style="text-shadow: 2px 2px 8px yellow;">  Movie Quiz</h1>

<p>Enter your name and the decade you want to quiz.</p>

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td style="text-align: left;">
        <form method="post" name="quiz_start" action="/">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="decade">Decade:</label>
            <div class="custom-select" style="width:200px;">
            <select name="decade" id="decade">
                {% for i in range(1930,2030,10)  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            </div>

            <input class="startbutton" type="submit" value="Take the quiz">
        </form>
        </td>
    </tr>
    {% if error: %}
    <tr>
        <td>
            <span class="message">Please provide your name</span>
        </td>
    </tr>
    {% endif %}
</table>

{% endblock %}