<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <link rel='icon'type='image/png' href="{{ url_for('static', filename='img/favicon.png')}}">

    <title>Quiz</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

</head>

<body onload="document.answer_field.answer.focus();">
    {%if name %}
    <h1 style="text-shadow: 2px 2px 8px yellow;">Hello {{ name }}! This is the {{ decade }}'s</h1>
    {% else %}
    <span class="message">Please provide your name</span>
    {% endif %}

    <!-- Highscore Field -->
    <div class="highscore">
        Highscore: <span>{{ highscore }}</span>
    </div>

    <!-- Quiz Question Field -->
    <div class="quiz">
        <label for="quiz-question">Quiz Question:</label>
        <p style="font-style: italic;">{{ quiz_question }}</p>
        <p style="font-style: italic;">{{ chosen_movie }}</p>
        <p style="font-style: italic;">Quiz-number: {{ quiz_number }}</p>


        <!-- Answer Text Box -->
<form method="post" name="answer_field" action="/quiz">
        <div class="answer-field">
            <label for="answer">Your Answer:</label>
            <input type="text" id="answer" name="answer" placeholder="Enter your answer" />
            <input class="startbutton" type="submit" value="Next" style="float: right;">
            <input type="hidden" id="quiz_number" name="quiz_number" value='{{ quiz_number }}'>
        </div>
    </div>

</form>
</body>

</html>